
<div class="browse-tree-view">  
	{{#if addSubareaMode}}
	
	    <div class="row">
	        <div class="col-sm-12">
	            <h4>Add new area in {{controller.tempSelectedArea.name}}</h4>
	        </div>
	    </div>
	
	    <div class="row">
	        <div class="col-sm-12">
	            <form role="form">
	                <div class="form-group">
	                    <label for="inputAreaName">Name</label>
	                    {{view App.FocusTextField id="inputAreaName" class="form-control" valueBinding="newArea.name" required="true" maxlength="80" pattern="^.{3,80}$"}}
	                </div>
	                <div class="form-group">
	                    <label for="inputAreaDesc">Description</label>
	                    {{textarea id="inputAreaDesc" value=newArea.description maxlength="300" class="form-control"}}
	                </div>
	                <div class="form-group">
	                    <hr />
	                </div>   
	                <div class="form-group">
			            <button class="btn btn-default pull-left"{{action "cancelAddSubArea"}}>Cancel</button>
			            <button class="btn btn-primary pull-right" {{action "addSubArea"}}>Add area</button>                  
	                </div>             
	            </form>
	        </div>
	    </div> 
	    
	{{else}}
	
		{{#if view.loading}}<div>Loading areas...</div>{{/if}}
	
	    {{#each toplevel in toplevels}}
	
	        {{#if toplevel.area.children}} 
	            
	            {{#each toplevel.area.children}}
	            
	                {{view App.AreaPickerItemView itemBinding="this"}}
	            
	            {{/each}}
	            
	        {{/if}}
	
	    {{/each}}
	 
		<div class="row">
		   <div class="col-sm-12">
		       <hr />
			    Selected: <strong>{{controller.tempSelectedArea.name}}</strong>
			    <a class="pull-right" {{action "startAddingSubArea"}}>Add new area in {{controller.tempSelectedArea.name}}</a>
		    </div>
		</div>
	
		<div class="row">
		    <div class="col-sm-12">
		       <hr />
		       <button class="btn btn-default pull-left" {{action "closeAreaPickerDialog" target="view" }}>Cancel</button>
		       <button class="btn btn-primary pull-right" {{action "confirmSelectedArea" target="view" }}>Set area</button>
		    </div>
		</div>
		
	{{/if}}
</div>