<!-- 
    Template for editing an area
 --> 
<div class="container-fluid">

	{{#if updateSuccessfully}}
	<div class="row">
	    <div class="col-sm-12">
	        <div class="alert alert-success" role="alert">
	            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	            Area was successfully updated.
	        </div>          
	    </div>
	</div>
	{{/if}}
		
	<div class="row">
	    
	    <div class="col-sm-12">
	        {{#if isReadOnlyArea}}
	            <h2>{{name}}</h2>
	        {{else}}
	        <div class="panel panel-default spacing-top">
	            <div class="panel-heading">
	                Area details
	            </div>
	            <div class="panel-body">
			        <form role="form">              
			            <div class="form-group">
		                    <label for="inputAreaName">Name</label>
		                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus" title="Name" data-content="The name of the area. Name is required and can have a maximum of 80 characters."></button>
		                    {{input value=name required="true" maxlength="80" pattern="^.{3,80}$" class="form-control" id="inputAreaName"}}            
			            </div>
			            <div class="form-group">
		                    <label for="inputAreaDescription">Description</label>
		                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus" title="Description" data-content="A short description of the area. A description can have a maximum of 500 characters."></button>
		                    {{textarea value=description maxlength="500" class="form-control" id="inputAreaDescription"}}
			            </div>
			        </form>
	            </div>
	        </div>
	        {{/if}}
	    </div>
		    
	    <div class="col-sm-12">
		    <div class="panel panel-default">
		        <div class="panel-heading">
		            Subareas
		        </div>
			    <div class="panel-body">
		            <ul class="inline-list">
		              {{#each child in children}}
		                  <li>{{child.name}}</li> 
		              {{else}}
		                  <li>Area has no subareas</li>
		              {{/each}}
		            </ul>
		            <div class="row">
	                    <div class="col-sm-12">  
		                   <button class="btn btn-primary pull-right" data-toggle="modal" {{action "startAddSubArea" target="view"}} data-target="#addSubAreaModal"><span class="glyphicon glyphicon-plus"></span> Add new subarea</button>
		               </div>
		           </div>
			    </div>
		    </div>
	    </div>
		    
	    {{#unless isReadOnlyArea}}
	    <div class="col-sm-12">
	        <div class="panel panel-default">
	            <div class="panel-heading">
	                Tours
	            </div>
	            <div class="panel-body">
	                <div class="row">
	                    <div class="col-sm-12">
	                        {{#if tours}}
	                            {{name}} currently have {{tours.length}} tours.
	                        {{else}}
	                            There are currently no tours in {{name}}.
	                        {{/if}}
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-sm-12">
	                        <button class="btn btn-primary pull-right" {{action "addTour"}}><span class="glyphicon glyphicon-plus"></span> Add new tour</button>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    {{/unless}}
	        
	</div>
		
    <div class="modal fade" id="discardChangesAreaModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    The area has unsaved changes, do you want to discard them?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger pull-right" data-dismiss="modal" {{action "cancelEdit" }}>Discard changes</button>
                </div>
            </div>
        </div>
    </div> 
		
    <div class="modal fade" id="validationErrorsAreaModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Validation failed</h4>
                </div>
                <div class="modal-body">
                    There are validation errors that must be corrected before the area can be published.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary pull-right" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>  
		
    <div class="modal fade" id="confirmPublishAreaModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Publish area</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success" role="alert">
                        Area is ready to be be published.
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary pull-right" data-dismiss="modal" {{action "saveArea" }}><span class="glyphicon glyphicon-cloud-upload"></span> Publish</button>
                </div>
            </div>
        </div>
    </div> 
		
    <div class="modal fade" id="addSubAreaModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    Add new subarea
                </div>
                <div class="modal-body">
                    <form class="form">
                        <div class="form-group">
                            <label>Name</label>
                            {{view App.FocusTextField valueBinding="newArea.name" required="true" maxlength="80" pattern="^.{3,80}$" class="form-control"}}
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            {{textarea value=newArea.description maxlength="500" class="form-control"}}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal" {{action "cancelAddSubAreaDialog" target="view" }}>Cancel</button>
                    <button class="btn btn-primary pull-right" data-dismiss="modal" {{action "addSubArea" target="view" }}>Add area</button>
                </div>
            </div>
        </div>
    </div> 
</div>

<nav class="edit-navbar" role="toolbar">
    <div class="container-fluid">

        <div class="navbar-header">
            <div class="btn-toolbar">
                {{#if isReadOnlyArea}}
                <span class="info label alert">{{name}} is a root area and cannot be edited, but it's possible to add subareas.</span>
                {{else}}

                <div class="btn-group pull-right">
                    <button class="btn btn-default" {{action "startCancelingEdit" target="view" }}>
                        <span class="glyphicon glyphicon-share"></span> Exit edit
                    </button>
                </div>

                <div class="btn-group pull-right">
                    <button class="btn btn-default" {{bindAttr disabled="isNotDirty" }} {{action "saveArea" target="view" }}>
                        <span class="glyphicon glyphicon-cloud-upload"></span> Publish
                    </button>
                </div>

                <div class="saving-info-container pull-right">
                    {{#if isDirty}}
                    {{#if havePendingOperations}}
                    <span class="spacing-x-large"><span class="glyphicon glyphicon-floppy-disk"></span><em> Saving...</em></span>
                    {{else}}
                    <span class="spacing-x-large"><span class="glyphicon glyphicon-floppy-disk"></span><em class="hidden-xs"> Area has unsaved changes</em></span>
                    {{/if}}
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </div>

    </div>
</nav>