<div class="main-container container-fluid">

    <div class="main-view dashboard-view">

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="stat-phrase">
                            {{text "dashboard_funfact1"}} <span class="highlight">{{stat.publishedTours}}</span> {{text "dashboard_funfact2"}} <span class="highlight">{{stat.totalGain}}</span> {{text "dashboard_funfact3"}} <span class="highlight">{{stat.totalLoss}}</span> {{text "dashboard_funfact4"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {{tagcloud-component tags=tags}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="heading">{{text "dashboard_lastUpdatedTours"}}</div>
                        {{lastupdated-component store=store}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4>
                    #<span class="logo-font">randopedia</span> {{text "dashboard_onInstagram"}}
                </h4>
                {{instafeed-component tagName='randopedia'}}
            </div>
        </div>

        {{#if controllers.login.isAdmin}}
            <div class="row">
                <div class="col-sm-12">
                    <h4>
                       Admin stats
                    </h4>
                    {{stat-component stat=stat}}
                </div>
            </div>
        {{/if}}

    </div>
</div>
