<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand randopedia-logo-text" {{action "gotoindex" }}>Randopedia</a>
            <a class="navbar-search-button hidden-sm hidden-md hidden-lg" {{action "toggleNavbarSearchbox" }} {{bind-attr class="showNavbarSearch:pressed" }}">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-with-space">
                <li><a {{action "topbarmenulink" "index" }}>Map</a></li>
                <li><a {{action "topbarmenulink" "about" }} data-toggle="collapse" data-target=".nav-collapse">About</a></li>
                <li><a {{action "topbarmenulink" "help" }} data-toggle="collapse" data-target=".nav-collapse">Help</a></li>
            </ul>

            <ul class="nav navbar-nav hidden-xs">
                {{#if controllers.login.isLoggedIn}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tours<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a {{action "topbarmenulink" "tour.new" }}>Add new tour</a></li>
                        <li><a {{action "topbarmenulink" "mytours" }}>My tours</a></li>
                        <li><a {{action "topbarmenulink" "review" }}>Tours in review</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a {{action "logout" }}>Logout</a></li>
                        <li><p>Logged in as {{maxString controllers.login.currentUser.userName 50}}</p></li>
                    </ul>
                </li>
                {{else}}
                <li><a {{action "topbarmenulink" "collapseNavbar" }} data-toggle="modal" data-target="#loginViewModalId">Login</a></li>
                {{/if}}
            </ul>

            <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
                {{#if controllers.login.isLoggedIn}}
                <li><a {{action "topbarmenulink" "tour.new" }}>Add new tour</a></li>
                <li><a {{action "topbarmenulink" "mytours" }}>View my tours</a></li>
                <li><a {{action "logout" }}>Logout</a></li>
                <li class="divider"></li>
                <li><p>Logged in as {{maxString controllers.login.currentUser.userName 50}}</p></li>
                {{else}}
                <li><a {{action "topbarmenulink" "collapseNavbar" }} data-toggle="modal" data-target="#loginViewModalId">Login</a></li>
                {{/if}}
            </ul>

            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li>
                    <a class="navbar-search-button pull-right" {{action "toggleNavbarSearchbox" }}" {{bind-attr class="showNavbarSearch:pressed" }}>
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{#if showNavbarSearch}}
     {{search-component store=store}}
{{/if}} 

<div class="modal fade" id="loginViewModalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{view "loginModal"}}
</div>