{{#if showBrowseMap}}
    {{partial "browse-map"}}
{{else}}
    {{partial "browse-areatree"}}
{{/if}}

<div style="margin-top:2em;"></div>

<div class="row paragraph">
    <div class="small-12 large-7 columns">
	    <div class="welcome-text-box">
	        <h5 class="subheader" style="color: #000;">Randopedia - the ski tour encyclopedia</h5>
	        
	        <p>Randopedia is aiming to become the ultimate ski tour database where you can browse areas and search for ski tours all over the world.</p> 
	        
	        <p>Want to know more? Have a look at the {{#linkTo "about"}}about{{/linkTo}} page.</p>
	        
	        {{#if controllers.login.isLoggedIn}}
	        <p>You're logged in and ready to add new tours or update current ones with more data, pictures and routes.</p>
	        {{else}}
	        <p>Login to contribute by adding new tours or update current ones with more data, pictures and routes.</p>
	        {{/if}}
	        
	    </div>
    </div>
    
    <div class="large-5 columns right hide-for-small">
        {{view App.TourTeaserView}}
    </div>
    
</div>


