<div class="row">
    <div class="main-tab-container">
        <button id="index-tab-1" class="brown" {{action "goToHome" target="view"}}>Home / Search</button><button id="index-tab-2" class="blue" {{action "goToMap" target="view"}}>Tour map</button><button id="index-tab-3" class="green" {{action "goToAreas" target="view"}}>Areas</button>
    </div>
</div>

{{#if view.showHome}}
    <div class="row">
        <div class="small-12 columns">
            {{view App.SearchTextField valueBinding="controllers.search.query"}}    
        </div>
    </div>
    
    {{#unless controllers.search.hasSearchResults}}
        <div class="row">
            <div class="small-12 columns">
                <div class="welcome-text-box">
                
                    <h5 class="subheader" style="color: #000;">Randopedia - the ski tour encyclopedia</h5>
                
                    <p>Randopedia is aiming to become the ultimate ski tour database where you can browse areas and search for ski tours all over the world.</p> 
                
                    <p>Want to know more? Have a look at the {{#linkTo "about"}}about{{/linkTo}} page.</p>
                
                    {{#if controllers.login.isLoggedIn}}
                        <p>You're logged in and ready to add new tours or update current ones with more data, pictures and routes.</p>
                    {{else}}
                        <p>Login to contribute by adding new tours or update current ones with more data, pictures and routes.</p>
                    {{/if}}
                    
                </div>
            </div>
        </div>
        
        <div style="margin-top:1em;"></div>
        
        <div class="row">
            <div class="small-12 columns">
                {{view App.TourTeaserView}}
            </div>
        </div>

    {{/unless}}
    
    {{#if controllers.search.hasSearchResults}}
        {{render search}}
    {{/if}}
    
{{/if}}

{{#if view.showMap}}
    {{browse-tourmap store=store tours=liteTours}}
{{/if}}

{{#if view.showAreas}}
    {{partial "browse-areatree"}}
{{/if}}
