<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#drafts" role="tab" data-toggle="tab">Drafts</a></li>
                <li><a href="#updates" role="tab" data-toggle="tab">Publications</a></li>
                <li><a href="#reviews" role="tab" data-toggle="tab">In review</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="drafts">

                    {{#if draftsServerErrors}}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                An error occurred when getting your drafts, maybe you have been logged out? Try to reload the page and log in again.
                            </div>
                        </div>
                    </div>
                    {{else}}
                    {{#if isLoadingDrafts }}
                    <div class="loading">Loading tours...</div>
                    {{else}}

                    <div class="alert alert-info" role="alert">
                        Below are all your tour drafts listed. These tours are only visible to you. You currently have {{drafts.length}} tour draft(s).
                    </div>

                    {{#each tour in drafts}}
                    {{view App.TourItemView}}
                    {{/each}}
                    {{/if}}
                    {{/if}}

                </div>

                <div id="updates" class="tab-pane">
                    {{#if updatesServerErrors}}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                An error occurred when getting your tours, maybe you have been logged out? Try to reload the page and log in again.
                            </div>
                        </div>
                    </div>
                    {{else}}
                    {{#if isLoadingUpdates }}
                    <div class="loading">Loading tours...</div>
                    {{else}}

                    <div class="alert alert-info" role="alert">
                        Below are all tours that you have created and/or made updates on listed. You have contributed on {{updates.length}} tour(s).
                    </div>

                    {{#each tour in updates}}
                    {{view App.TourItemView}}
                    {{/each}}

                    {{/if}}
                    {{/if}}

                </div>

                <div id="reviews" class="tab-pane">
                    {{#if reviewsServerErrors}}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                An error occurred when getting tours in review, maybe you have been logged out? Try to reload the page and log in again.
                            </div>
                        </div>
                    </div>
                    {{else}}
                    {{#if isLoadingReviews }}
                    <div class="loading">Loading tours...</div>
                    {{else}}

                    <div class="alert alert-info" role="alert">
                        Below are all tours (not just yours) that currently are in review listed. There are currently {{reviews.length}} tour(s) in review.
                    </div>

                    {{#each tour in reviews}}
                    {{view App.TourItemView}}
                    {{/each}}

                    {{/if}}
                    {{/if}}

                </div>
            </div>
        </div>
    </div>
</div>