<div class="container-fluid main-view-container">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="250">Stat</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Published tours</td>
                            <td>{{publishedTours}}</td>
                        </tr>
                        <tr>
                            <td>Published areas</td>
                            <td>{{publishedAreas}}</td>
                        </tr>
                        <tr>
                            <td>Areas with no tours or sub areas</td>
                            <td>{{deadAreas}}</td>
                        </tr>
                        <tr>
                            <td>Drafts</td>
                            <td>{{tourDrafts}}</td>
                        </tr>
                        <tr>
                            <td>Registered users</td>
                            <td>{{registeredUsers}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>