<div class="table-responsive">
     <table class="table table-striped">
            <tbody>
                <tr>
                    <td width="250">Published tours</td>
                    <td>{{stat.publishedTours}}</td>
                </tr>
                <tr>
                    <td>Drafts</td>
                    <td>{{stat.tourDrafts}}</td>
                </tr>
                <tr>
                    <td>Registered users</td>
                    <td>{{stat.registeredUsers}}</td>
                </tr>
                <tr>
                    <td>Total elevation gain</td>
                    <td>{{stat.totalGain}} meters</td>
                </tr>
                <tr>
                    <td>Total elevation loss</td>
                    <td>{{stat.totalLoss}} meters</td>
                </tr>
            </tbody>
    </table>
</div>