<div class="table-responsive">
     <table class="table table-striped">
            <thead>
                <tr>
                    <th width="250">Stat</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Published tours</td>
                    <td>{{stat.publishedTours}}</td>
                </tr>
                <tr>
                    <td>Drafts</td>
                    <td>{{stat.tourDrafts}}</td>
                </tr>
                <tr>
                    <td>Registered users</td>
                    <td>{{stat.registeredUsers}}</td>
                </tr>
                <tr>
                    <td>Total elevation gain</td>
                    <td>{{stat.totalGain}}</td>
                </tr>
                <tr>
                    <td>Total elevation loss</td>
                    <td>{{stat.totalLoss}}</td>
                </tr>
            </tbody>
    </table>
</div>