<h5>Publish tour <span class="secondary-text">(Step 1 of 2)</span></h5>

{{#if view.haveValidationErrors}}
	<div data-alert class="alert-box error">
	    Tour data is invalid or incomplete
	</div>

    <div>
        <p>The tour lacks to much data to be published. Please add missing data and try again.</p>
        <p class="secondary-text">
            The following fields are missing or invalid: 
            {{#each error in validationErrors}}
                {{error}}, 
            {{/each}}
        </p>
            
        <p class="secondary-text confirmation-message">
        Required fields for publish are: Area, Name, Access point, Description, Time min/max and Elevation gain/loss
        </p> 
    </div>
{{else}}
    {{#if view.haveValidationWarnings }}
	    <div data-alert class="alert-box warning">
	        Tour data is valid but incomplete
	    </div>
	    <div>
	        <p>The tour lacks some important data. It can be published, but it'll be marked as incomplete.</p>
	        
	        <p class="secondary-text confirmation-message">
	        The following fields are missing:
	        {{#each warning in validationWarnings}}
	            {{warning}}, 
	        {{/each}}
	        </p>
	    </div>
	 {{else}}
		 <div data-alert class="alert-box success">
		    Tour data is valid
		</div>
		<p class="confirmation-message">Looks like the tour data is fine, just go on and publish!</p>
	 {{/if}}
{{/if}}

<hr />

<div class="confirmation-footer">
    <button class="right" {{action "closePublishTourStep1Dialog" target="view"}}>Cancel</button>
    <button class="left" {{bindAttr disabled="view.haveValidationErrors"}} {{action "continueToStep2" target="view"}}>Continue</button>
</div>

<div id="publishTourStep2Reveal" class="reveal-modal small">
    <h5>Publish tour <span class="secondary-text">(Step 2 of 2)</span></h5>
    
    
    <div class="confirmation-message">
	    <label>What did you change?</label>
	    <!-- Bug on close when dropdown is inside a reveal  <button data-dropdown="publishCommentTip" data-options="align_right:true" class="info right"></button>  -->
	    {{view App.TextArea valueBinding="publishComment" maxlength="500"}}
    </div>
    
    <hr />
    
    <div class="confirmation-footer">
        <button class="right" {{action "closePublishTourStep2Dialog" target="view" }}>Cancel</button>
        <button class="left" {{bindAttr disabled="view.isPublishDisabled"}} {{action "completePublish" target="view"}}>Publish</button>
    </div>
</div>

    <div id="publishCommentTip" class="f-dropdown content small" data-dropdown-content>
    <div>
        Briefly describe what you have changed on the tour. Comments are shown in the history tab on tour edit page.
        <hr />
        The comment can have a maximum of 500 characters.
    </div>
</div>