<div class="hidden">{{view.imageLoaded}}</div>

{{#if isDraft}}
{{#unless previewMode}}
<div class="row">
    <div class="small-12 columns">
        <div data-alert class="alert-box information">
            This is a draft, the tour has not yet been published
            <a href="#" class="close">&times;</a>
        </div>
    </div>
</div>
{{/unless}}
{{/if}}

{{#if isDeleted}}
<div class="row">
    <div class="small-12 columns">
        <div data-alert class="alert-box warning">
            TOUR IS DELETED
        </div>
    </div>
</div>
{{/if}}

<div class="row">
    <div class="small-12 columns">
	    <ul class="area-breadcrumb">
	       {{control "breadCrumb" area }}
	    </ul>
    </div>
</div>

<div class="row">
    <div class="small-10 columns">
        <h3>
            {{name}} {{#if elevationMax }} <span class="secondary-text">({{elevationMax}}m)</span> {{/if}} 
            {{#if isIncomplete}}
            <button data-dropdown="incompleteTip" class="incomplete"></button>
            {{/if}}
        </h3>
    </div>
    
    <div class="small-2 columns">    
        {{#if controllers.login.isLoggedIn}}
	        {{#unless previewMode}}
	            {{!-- <h3><a class="icon-link right" {{action "editTour"}}><i class="foundicon-edit"></i></a></h3> --}}
	            <h3 class="right">{{#link-to 'tour.edit' model}}<i class="foundicon-edit"></i>{{/link-to}}</h3>
	        {{/unless}}
	    {{/if}}
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <p>{{shortDescription}}</p>
    </div>
</div>

<div class="row">
    <div class="small-12 large-6 columns">
	        
		<div class="row">
            <div class="tourview-info-row">		
			    <div class="small-4 large-3 columns">
			        <span class="tourview-label">Time:</span>
			    </div>
			    <div class="small-8 large-9 columns">
			        {{#if timingMin}}{{timingMin}}{{/if}}{{#if timingMax}}-{{timingMax}}{{/if}}h
			    </div>
            </div>			    
		</div>
	
		<div class="row">
            <div class="tourview-info-row">		
			    <div class="small-4 large-3 columns">
			        <span class="tourview-label">Elevation:</span>
			    </div>
			    <div class="small-8 large-9 columns">
                    {{#if elevationGain}} 
			            {{elevationGain}}m &uarr; 
			        {{/if}}
			        {{#if elevationLoss}}    
			            {{elevationLoss}}m &darr;
			        {{/if}}
			    </div>
            </div>
		</div>
			
		{{#if grade}}
		<div class="row">
            <div class="tourview-info-row">		
			    <div class="small-4 large-3 columns">
			        <span class="tourview-label">Grade:</span>
			    </div>
			    <div class="small-8 large-9 columns">
                    {{#if previewMode}}
			             {{resolveGradeName grade}}
			        {{else}}
			             <a class="tourItemPropLink" data-reveal-id="tourDetailsViewGradeGuideReveal">{{resolveGradeName grade}}</a>
			        {{/if}}
			    </div>       
            </div>         
		</div>   
		{{/if}}
		
		{{#if degreesMax}} 
		<div class="row">
            <div class="tourview-info-row">     
                <div class="small-4 large-3 columns">
                    <span class="tourview-label">Steepness:</span>
                </div>
                <div class="small-8 large-9 columns">
                    {{degreesMax}}&#176;
                </div>
            </div>
        </div>     
         {{/if}} 
			   
	    {{#if timeOfYearFrom}}
	    {{#if timeOfYearTo}}
		<div class="row">
            <div class="tourview-info-row">		
			    <div class="small-4 large-3 columns">
			        <span class="tourview-label">Season:</span>
			    </div>
			    <div class="small-8 large-9 columns">
			        {{resolveMonthName timeOfYearFrom}} - {{resolveMonthName timeOfYearTo}}
			    </div>    
		    </div>            
		</div>
		{{/if}}
		{{/if}}
			
		{{#if aspect}}
		<div class="row">
			<div class="tourview-info-row">
			    <div class="small-4 large-3 columns">
			        <span class="tourview-label">Aspect:</span>
			    </div>
			    <div class="small-8 large-9 columns">
			        {{resolveAspectName aspect}}
			    </div>                
			</div>
		</div>
        {{/if}}
		
    </div>
    <div class="small-12 large-6 columns">
        {{#if tags}}
            <span class="tourview-label">Tags:</span>
            {{#each tag in tagsArray}}
                {{#link-to 'tag' tag}} #{{tag}} {{/link-to}}
            {{/each}}
        {{/if}}
    </div>
    
</div>

<div class="row">
    <div class="small-12 columns">
       <h4 class="subheader">Access point</h4>
       <pre class="formatted-desc">{{accessPoint}}</pre>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <h4 class="subheader">Description</h4>
        <pre class="formatted-desc">{{{ markedItinerary }}}</pre>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {{#if haveHazards}}
        
            <div class="small-12 large-6 columns">
                <div class="panel tourview-panel">
                    <div class="row">
                        <div class="small-2 columns">
                             <i class="randicon-warning tourview-panel-icon"></i>
                        </div>        
                        <div class="small-10 columns">
                            <p>{{hazardsDescription}}</p>
                        </div>        
                    </div>
                </div>
            </div>
        
        {{/if}}
         
        {{#if requiresTools}}

            <div class="small-12 large-6 columns">
                <div class="panel tourview-panel">
                    <div class="row">
                        <div class="small-2 columns">
                             <i class="randicon-mountaineering tourview-panel-icon"></i>
                        </div>        
                        <div class="small-10 columns">
                            <p>{{toolsDescription}}</p>
                        </div>        
                    </div>
                </div>
            </div>

        {{/if}}
    </div>
</div>

<div class="row">    
    <div class="small-12 columns">
	    <h4 class="subheader">Images<span class="secondary-text">({{images.length}})</span></h4>

	    {{#if previewMode}}
	       <p>Images shown here [Not available in preview]</p>
	    {{else}}
	       {{#if hasImages}}
                <div id="images-container">
				     <ul class="bjqs">
					    {{#each image in images }}
					        <li><img {{bindAttr src="image.imageFile"}} {{bindAttr title="image.caption"}}></li>
					    {{/each}}
				     </ul>
			    </div>
            {{else}}
                <p>No images available for this tour</p>	
		    {{/if}}
        {{/if}}
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
	    <h4 class="subheader">Map</h4>
	    
	    {{#if previewMode}}
           <p>Map shown here [Not available in preview]</p>
        {{else}}
            {{#if hasPaths}}
			    {{view App.TourMapView}}
		    {{else}}
		        <p>No map is available for this tour</p>
		    {{/if}}
		{{/if}}
    </div>    
</div>

{{#unless previewMode}}
<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-7 columns">
            <h4 class="subheader">Comments<span class="secondary-text">({{comments.length}})</span></h4>
            {{#unless controllers.login.isLoggedIn}}
                <div>Sign in if you want to comment</div>
            {{/unless}}
            </div>
            <div class="small-5 columns">
                {{#unless addCommentMode}}
                    {{#if controllers.login.isLoggedIn}}
		                <button class="comment-add-button right"  {{action "startAddComment"}}>Add Comment</button>
		            {{/if}}
                {{/unless}}
            </div>            
        </div>
        
        {{#if addCommentMode}}
        <div class="row">
            <div class="small-12 columns">
                {{#if commentError }} <p class="error"> {{commentError}} </p> {{/if}}
                <div class="comment-container">
	                {{view App.TextArea valueBinding="newCommentText" required="true" rows="3" maxlength="500" }}
	                <button {{action "saveComment"}} class="img-panel-button">Save Comment</button>
	                <button {{action "cancelSaveComment"}} class="img-panel-button">Cancel</button>
                </div>
            </div>
        </div>
        {{/if}}

        <div class="row">
            <div class="small-12 columns">
		        {{#each comments}}
		            {{view App.CommentView}}
		        {{/each}}
		    </div>
        </div>
    </div>    
</div>
{{/unless}}

<div id="incompleteTip" class="f-dropdown content medium" data-dropdown-content>
    <div>
       <p>This tour is marked as incomplete.</p> 
       <p>This means that it might lack some data, but it should be enough information available to make the description useful anyway.</p>
       <hr/>
       Please login and update the tour if you have more information about it.
    </div>
</div>

<div id="tourDetailsViewGradeGuideReveal" class="reveal-modal small scrollable" data-reveal>
    {{partial "about-grades"}}
    <a class="close-reveal-modal">&#215;</a>
</div>
