<div class="map-edit-view">
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Paths
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" {{action "drawUpDownTrack" target="view" }}><span class="glyphicon glyphicon-sort"></span> Up/Down</a></li>
                        <li><a href="#" {{action "drawUpTrack" target="view" }}><span class="glyphicon glyphicon-arrow-up"></span> Up</a></li>
                        <li><a href="#" {{action "drawDownTrack" target="view" }}><span class="glyphicon glyphicon-arrow-down"></span> Down</a></li>
                    </ul>
                </div>
                <!--<div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Markers
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" {{action "drawSummitPoint" target="view" }}>Summit point</a></li>
                    </ul>
                </div>-->
                <div class="btn-group">
                    <button class="btn btn-default" data-toggle="modal" data-target="#confirmDeleteRoutesModal" {{bindAttr disabled="view.isDeletePathsDisabled"}}>
                        <span class="glyphicon glyphicon-trash"></span> 
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="mapContainer">
        <div id="tourEditMapRootElement"></div>
    </div>

    <div class="mouse-position-container">
        <div>{{view.mousePositionLat}}</div>
        <div>{{view.mousePositionLng}}</div>
    </div>

    <div class="modal fade" id="confirmDeleteRoutesModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Delete paths</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the selected paths from the tour?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger pull-right" data-dismiss="modal" {{action "deleteRoutes" target="view" }}>Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>