<div class="full-page-view-container">
 
	{{#if authenticationErrors}}
	<div class="row">
	    <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                Looks like you have been logged out, try to log in again.
            </div>	        
	    </div>
	</div>
	{{/if}}
	
	{{#if serverErrors}}
	<div class="row">
	    <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                Something went wrong when saving the tour, please try again.
            </div>  	        
	    </div>
	</div>
	{{/if}}
	
	{{#if validationErrors}}
	<div class="row">
	    <div class="col-sm-12">
	        <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                Oh noes, there was some validation errors, please try again.
            </div>  
	    </div>
	</div>
	{{/if}}
	
	{{#if draftValidationErrors}}
	<div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                Couldn't save draft, area and name must be set.
            </div>  
        </div>	    
	</div>
	{{/if}}
	
	{{#if isDraft}}
	<div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                This is a draft, the tour has not yet been published
            </div>  
        </div>   	    
	</div>
	{{/if}}
	
	{{#if isDeleted}}
	<div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                Tour is marked as deleted and will eventually be permanently deleted from the databse
            </div> 
        </div>   
	</div>
	{{/if}}
	
	{{#if updateSuccessfully}}
	<div class="row">
	    <div class="col-sm-12">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                Tour was successfully updated
            </div>	        
	    </div>
	</div>
	{{/if}}

    {{#if havePendingOperations}}
	    <div class="row">
	       <div class="col-sm-12">
	           Saving...
	       </div>
	    </div>
    	
    {{else}}
		<div class="row spacing-y">
		   <div class="col-sm-12">
                {{#unless isPublished}}
                    <button type="button" class="btn btn-primary" {{bindAttr disabled="isSaveAsDraftDisabled"}} {{action "saveAsDraft"}}>
                       <span class="glyphicon glyphicon-floppy-save"></span> Save as draft
                    </button>
                {{/unless}}				 
                <button type="button" class="btn btn-primary" {{bindAttr disabled="isStartPublishDisabled"}} {{action "startPublishTour" target="view"}}>
                   <span class="glyphicon glyphicon-cloud-upload"></span> Publish
                </button>			 
				{{#if hasChanges}}
                    <span class="spacing-x-large"><span class="glyphicon glyphicon-floppy-disk"></span><em> Tour has unsaved changes</em></span>
                {{/if}}
				<button type="button" class="btn btn-primary pull-right" {{action "startCancelingEditTour" target="view"}} class="right">Exit edit</button>
		   </div>
		</div>
	{{/if}}     
	
	<div class="row"> 
		<div class="col-sm-12">

			 <ul class="nav nav-tabs" role="tablist">
			    <li class="active"><a href="#details-panel" role="tab" data-toggle="tab">Details</a></li>
			    <li><a href="#itinerary-panel" role="tab" data-toggle="tab">Description</a></li>
			    <li><a href="#map-panel" role="tab" data-toggle="tab">Map</a></li>
			    <li><a href="#images-panel" role="tab" data-toggle="tab">Images</a></li>
			    <li><a href="#history-panel" role="tab" data-toggle="tab">History</a></li>
			</ul>	        
	        
			<div class="tab-content">
			    <div class="tab-pane active" id="details-panel">
				    <form role="form">
				    
	                   <div class="row">
	                        <div class="col-sm-4">			    
						        <div class="form-group">
							        <label for="inputArea">Area</label>
		                            <button data-dropdown="areaTip" class="info pull-right"></button>
		                            <div><a id="inputArea" data-reveal-id="areaPickerReveal">{{#unless area}}Select area...{{else}}{{area.name}}{{/unless}}</a></div>					        
						        </div>
							</div>
	                        <div class="col-sm-8">  				    
		                        <div class="form-group">
		                            <label for="inputName">Name of tour</label>
		                            <button data-dropdown="areaTip" class="info pull-right"></button>
		                            {{input placeholder="" pattern="^.{3,80}$" value=name id="inputName" class="form-control"}}
		                        </div>
	                        </div>
	                    </div>
	                    
	                   <div class="row">
	                        <div class="col-sm-12">
		                        <div class="form-group">
		                           <label for="inputShortDescription">Tour summary<span class="warn-field">*</span></label>
		                           <button data-dropdown="descTip" class="info pull-right"></button>
		                           {{input maxlength="300" value=shortDescription id="inputShortDescription" class="form-control"}}
		                        </div>
	                        </div>
	                    </div>
	                    
	                   <div class="row">
	                       <div class="col-sm-12 descTextAreaContainer">
	                           <div class="form-group">
	                                 <label for="inputAccessPoint">Access point<span class="req-field">*</span></label>
	                                 <button data-dropdown="startingPointTip" class="info pull-right"></button>
	                                 {{textarea value=accessPoint maxlength="1000" id="inputAccessPoint" class="form-control"}}
	                           </div>
	                       </div>
	                   </div>
	                   
	                   <div class="row">
	                       <div class="col-lg-3">
	                           <div class="form-group">
	                               <label for="inputElevationLoss">Elevation loss<span class="req-field">*</span></label>
	                               <button data-dropdown="elevationLossTip" class="info pull-right"></button>
	                               <div class="input-group">
	                                    {{input placeholder="" pattern=App.Validate.numberRegex value=elevationLoss id="inputElevationLoss" class="form-control"}}
	                                    <div class="input-group-addon">m</div>
	                               </div>
	                           </div>
	                       </div>
	                       <div class="col-lg-3">
	                           <div class="form-group">
	                               <label for=inputElevationGain">Elevation gain<span class="req-field">*</span></label>
<!-- 	                           <button data-dropdown="elevationGainTip" data-options="align_right:true" class="info right"></button> -->
	                               <div class="input-group">
	                                    {{input placeholder="" pattern=App.Validate.numberRegex value=elevationGain id="inputElevationGain" class="form-control"}}
	                                    <div class="input-group-addon">m</div>
	                               </div>
	                           </div>
	                       </div>
	                       <div class="col-lg-3">
                               <div class="form-group">
                                   <label for="inputHighestPoint">Highest point<span class="warn-field">*</span></label>
                                   <button data-dropdown="highestPointTip" class="info pull-right"></button>
                                   <div class="input-group">
                                       {{input placeholder="" pattern=App.Validate.numberRegex value=elevationMax id="inputHighestPoint" class="form-control"}}
                                       <div class="input-group-addon">m</div>
                                   </div>
                               </div>
                           </div>  
	                       <div class="col-lg-3">
	                           <label for="inputAspect">Main aspect of slopes</label>
	                           <button data-dropdown="aspectTip" data-options="align_right:true" class="info pull-right"></button>
	                           {{view Ember.Select
	                                  contentBinding="App.Fixtures.Aspects"
	                                  optionValuePath="content.value"
	                                  optionLabelPath="content.name"
	                                  valueBinding="aspect"
	                                  id="inputAspect"
	                                  class="form-control"}}          
	                       </div>          
	                   </div>	
	                                      
	                   <div class="row">
	                       <div class="col-lg-3">
	                           <div class="form-group">
	                                <label for="inputTimeMin">Time, min<span class="req-field">*</span></label>
			                         <button data-dropdown="timeMinTip" class="info pull-right"></button>
                                    <div class="input-group">
                                        {{input placeholder="" pattern=App.Validate.numberRegex value=timingMin id="inputTimeMin" class="form-control"}}
                                        <div class="input-group-addon">h</div>
                                    </div>
	                           </div>
	                       </div>
                           <div class="col-lg-3">
                               <div class="form-group">
                                    <label for="inputTimeMax">Time, max<span class="req-field">*</span></label>
                                    <button data-dropdown="timeMaxTip" class="info pull-right"></button>
                                    <div class="input-group">
                                        {{input placeholder="" pattern=App.Validate.numberRegex value=timingMax id="inputTimeMax" class="form-control"}}
                                        <div class="input-group-addon">h</div>
                                    </div>
                               </div>
                           </div>                      
                           <div class="col-lg-3">
                               <div class="form-group">
                                   <label for="inputSeasonFrom">Season from<span class="req-field">*</span></label>
                                   <button data-dropdown="timeMaxTip" class="info pull-right"></button>
                                   {{view Ember.Select
                                      contentBinding="App.Fixtures.Months"
                                      optionValuePath="content.value"
                                      optionLabelPath="content.name"
                                      valueBinding="timeOfYearFrom" 
                                      id="inputSeasonFrom"
                                      class="form-control"}}  
                              </div>
                          </div>
                           <div class="col-lg-3">
                                <div class="form-group">
                                   <label for="inputTimeOfYearTo">Season to<span class="req-field">*</span></label>
                                   <button data-dropdown="timeMinTip" class="info pull-right"></button>
                                   {{view Ember.Select
                                          contentBinding="App.Fixtures.Months"
                                          optionValuePath="content.value"
                                          optionLabelPath="content.name"
                                          valueBinding="timeOfYearTo" 
                                          id="inputTimeOfYearTo"
                                          class="form-control"}}
                              </div>
                          </div>
                  	    </div>     
                  	          
	                    <div class="row">
	                        <div class="col-lg-3">
	                            <div class="form-group">
		                            <label for="inputGrade">Grade<span class="warn-field">*</span></label>
                                    <button class="info pull-right" data-toggle="modal" data-target="#tourDetailsGradeGuideModal">{{resolveGradeName grade}}</button>
		                            {{view Ember.Select
		                                   contentBinding="App.Fixtures.Grades"
		                                   optionValuePath="content.value"
		                                   optionLabelPath="content.name"
		                                   valueBinding="grade"
		                                   id="inputGrade"
		                                   class="form-control"}}
	                            </div>
	                        </div>
                        
	                        <div class="col-lg-3">
	                            <div class="form-group">
	                                <label for="inputSteepness">Steepness, max</label>
	                                <button data-dropdown="degreesMaxTip" class="info pull-right"></button>
	                                <div class="input-group">
	                                    {{input pattern=App.Validate.numberRegex value=degreesMax id="inputSteepness" class="form-control"}}
	                                    <div class="input-group-addon">&#176;</div>
	                                </div>
	                             </div>
	                        </div>
	                    </div>
                    
	                    <div class="row">
	                        <div class="col-sm-6 descTextAreaContainer">
	                             <div class="form-group">
	                                  <label for="inputHazards">Hazards</label> {{view Ember.Checkbox checkedBinding="haveHazards"}}
	                                  <button data-dropdown="hasDangerTip" class="info pull-right"></button>
	                                  {{textarea value=hazardsDescription disabledBinding="haveNoHazards" maxlength="500" id="inputHazards" class="form-control"}}
	                             </div>
	                        </div>
	                        <div class="col-sm-6 columns descTextAreaContainer">
                                <div class="form-group">
	                                  <label for="inputTools">Requires mountaineering skills/equipment</label> {{view Ember.Checkbox checkedBinding="requiresTools"}}
	                                  <button data-dropdown="mntSkillsTip" class="info pull-right"></button>                                
	                                  {{textarea value=toolsDescription disabledBinding="doesNotRequireTools" maxlength="500" id="inputTools" class="form-control"}}
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div class="row">
	                        <div class="col-sm-12 col-lg-6">
	                            <label for="inputTags">Tags</label>
	                            <button data-dropdown="tagsTip" class="info pull-right"></button>
	                            {{textarea value=tagsString maxlength=500 id="inputTags" class="form-control" id="inputTags" class="form-control"}}
	                        </div>
	                    </div>
                    	                    
	                </form>
				   
				    <div class="row spacing-y-large">
	                    <div class="col-sm-12 small">
	                        <div class="form-group">
							    <span class="req-field">*</span> Required field (tour cannot be published if not set) <br />
							    <span class="warn-field">*</span> Recommended field (tour will be marked as incomplete if not set)
						    </div>
						</div>
				    </div>
			    </div>
			        
				<div id="itinerary-panel" class="tab-pane">
					<div class="row">
					   <div class="col-sm-12">
					       <div class="form-group">
					           <label for="inputDescription">Description<span class="req-field">*</span></label>
					           <button data-dropdown="itineraryTip" class="info pull-right"></button>
					           {{view App.TextArea valueBinding="itinerary" maxlength="8000" id="inputDescription" class="form-control large"}}
					       </div>
					   </div>
					</div>  
				</div>	  
				
				<div id="map-panel" class="tab-pane">
		            <div class="row">
		                {{view App.TourEditMapView}}
		            </div>  
		            <div class="row">
		                <div class="col-sm-12 small-text" style="margin-top: 1em;">
		                    Tip: The markers on the browse map on the frontpage are set by the first point added to the tour map above. 
		                    Start drawing from the summit point of the tour to make that the point that's marked on the browse map.
		                </div> 
	                </div>
			    </div>  
			    
			    <div id="images-panel" class="tab-pane">
		            <div class="row">
			            <div class="col-sm-12">
			                <div class="normal-margin">
			                    {{#if isNew}}
			                        <p>Images cannot be uploaded until tour is saved. Please save tour and then come back!</p>
			                    {{else}}
			                        {{partial "touredit-images" }}
			                    {{/if}}
			                </div>
			            </div>
		            </div>  
	            </div>                    
			      
			    <div id="history-panel" class="tab-pane">
		            <div class="row">
		                <div class="col-sm-12 normal-margin">
		                    Tour status: {{displayStatus}}
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-sm-12 largeTextAreaContainer">
		                    <table class="no-margin">
							  <thead>
							      <tr>
								      <th>Time</th>
								      <th>Type</th>
								      <th>User</th>
								      <th>Comment</th>
							      </tr>
							  </thead>
							  <tbody>
							      {{#each action in actions}}
							      <tr>
								      <td>{{displayTimestamp action.time}}</td>
								      <td>{{resolveTourAction action.type}}</td>
								      <td>{{action.userName}}</td>
								      <td>{{action.comment}}</td>
							      </tr>
							      {{/each}}
							  </tbody>
							</table>
		                </div>
		             </div> 
		        </div> 
	        </div>
	        
	    </div>
	</div>
	
	
	<div class="modal fade" id="tourDetailsGradeGuideModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg login-view">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Grades</h4>
                </div>
                <div class="modal-body">
                    {{partial "about-grades"}}
                </div>
            </div>
        </div>
    </div>
    
	
	{{!-- <!-- Adv opt and delete/restore tour removed for now. Might be reintroduced for drafts  -->
	<div class="adv-opt-panel-container">
		<div class="row">
		    <div class="col-sm-12"> 
		        <div class="row">
			        <div class="col-sm-12 adv-opt-panel-heading">
			            {{#if view.showAdvancedOptions}}
			                <a class="icon-link adv-opt-panel-icon-link" {{action "toggleAdvancedOption" target="view"}}><i class="foundicon-minus"></i></a>
			            {{else}}
			                <a class="icon-link adv-opt-panel-icon-link" {{action "toggleAdvancedOption" target="view"}}><i class="foundicon-plus"></i></a>
			            {{/if}}
			            More options
			        </div>   
		        </div>
		        <div class="row">
				    <div class="col-sm-12">   
				        {{#if view.showAdvancedOptions}}
					         <div class="adv-opt-links-container">
					            {{#if isDeleted}}
					                <a {{action "restoreTour"}}>Restore tour</a>
					            {{else}}
					                <a data-reveal-id="confirmDeleteTourReveal">Delete tour</a>
					            {{/if}}
					        </div>
				        {{/if}}
				    </div>
		        </div>
		    </div>
		</div>
	</div>
	--}}
	
	<div id="areaPickerReveal" class="reveal-modal scrollable small" data-reveal>
	
	    {{view App.AreaPickerView}}
	    
	</div>
	
	<div id="discardChangesTourReveal" class="reveal-modal small" data-reveal>
	    <div class="confirmation-message">
	        The tour has unsaved changes, do you want to discard them?
	    </div>
	    
	    <hr />
	    
	    <div class="confirmation-footer">
	        <button class="left" {{action "closeConfirmDiscardChangesDialog" target="view" }}>Cancel</button>
	        <button class="right" {{action "confirmDiscardChanges" target="view" }}>Discard changes</button>
	    </div>
	</div>
	
	<div id="validationErrorsTourReveal" class="reveal-modal small" data-reveal>
	    <div class="confirmation-message">
	        There are validation errors that must be corrected before the tour can be published.
	    </div>
	    
	    <hr />
	    
	    <div class="confirmation-footer">
	        <button class="right" {{action "closeValidationErrorsDialog" target="view" }}>OK</button>
	    </div>
	</div>
	
	<div id="confirmDeleteTourReveal" class="reveal-modal small" data-reveal>
	
	    <div class="confirmation-message">
	        Are you sure you want to delete the tour?
	    </div>
	    
	    <hr />
	    
	    <div class="confirmation-footer">
			<button class="right" {{action "closeConfirmDeleteTour" target="view" }}>Cancel</button>
			<button class="left" {{action "confirmDeleteTour" target="view"}}>Delete tour</button>
	    </div>
	</div>
	    
	<div id="confirmPublishTourReveal" class="reveal-modal small" data-reveal>
	
	    <div class="confirmation-message">
	        Changes will be published, do you want to continue?
	    </div>
	    
	    <hr />
	    
	    <div class="confirmation-footer">
	        <button class="right" {{action "closeConfirmPublishTourDialog" target="view" }}>Cancel</button>
	        <button class="left" {{action "confirmPublishTour" target="view"}}>Publish</button>
	    </div>
	</div>
	
	<div id="publishTourStep1Reveal" class="reveal-modal small" data-reveal>
	    {{view App.TourPublishView}}
	</div>
	
	<div id="gradeGuideReveal" class="reveal-modal small scrollable" data-reveal>
	    {{partial "about-grades"}}
	    <a class="close-reveal-modal">&#215;</a>
	</div>
	
	
	<!-- Field/Validation tips -->
	
	<div id="areaTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        The area where the tour is located.
	    </div>
	</div>
	
	<div id="tourNameTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        The name of the tour.
	        <hr />
	        Name is required and must be between 3 and 80 characters long.
	    </div>
	</div>
	
	<div id="startingPointTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        Description of the access point and how to get there.
	        <hr />
	        The access point description can have a maximum of 1000 characters.
	    </div>
	</div>
	
	<div id="descTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        A brief description summarizing the highlights of the tour.
	        <hr />
	        Description can have a maximum of 300 characters.
	    </div>
	</div>
	
	<div id="elevationGainTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        Total elevation to climb 
	        <hr />
	        Only digits are allowed.
	    </div>
	</div>
	
	<div id="elevationLossTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        Total elevation to descend
	        <hr />
	        Only digits are allowed.
	    </div>
	</div>
	
	<div id="highestPointTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        The highest point of the tour.
	        <hr />
	        Only digits are allowed.
	    </div>
	</div>
	
	<div id="aspectTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        Aspect of the main part of the slopes on the descent route.
	    </div>
	</div>
	
	<div id="timeMinTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        The minimum amount of time that can be expected for the tour.
	        <hr />
	        Only digits are allowed.
	    </div>
	</div>
	
	<div id="timeMaxTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        The maximum amount of time that can be expected for the tour.
		    <hr />
		    Only digits are allowed.
	    </div>
	</div>
	
	<div id="degreesMaxTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        Degrees on the steepest part of the route.
	        <hr />
	        Only digits are allowed.
	    </div>
	</div>
	
	<div id="gradeTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        The grade of the tour. Technical difficulties on both the ascent and the descent should be considered.
	        <hr />
	        See <a data-reveal-id="gradeGuideReveal">grade guide</a> for more info
	    </div>
	</div>
	
	<div id="seasonFromTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        First month of the season when the tour normally is skiable.
	    </div>
	</div>
	
	<div id="seasonToTip" class="f-dropdown content small" data-dropdown-content>
	    <div> 
	        Last month of the season when the tour normally is skiable.
	    </div>
	</div>
	
	<div id="hasDangerTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        Description of any special hazards that skiers should be aware of. 
	        <hr />
	        Description can have a maximum of 300 characters.
	    </div>
	</div>
	
	<div id="mntSkillsTip" class="f-dropdown content small" data-dropdown-content>
		<div>
		    Description of any mountaineering skills or equipment needed. Rappels, glacier safety equipment etc.
		    <hr />
		    Description can have a maximum of 300 characters.
		</div>
	</div>
	
	<div id="itineraryTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        Description of the tour itinerary and anything else that could be useful.
	        <hr />
	        Description can have a maximum of 8000 characters.
	    </div>
	</div>
	
	<div id="tagsTip" class="f-dropdown content small" data-dropdown-content>
	    <div>
	        You can tag your tour with tag words that gives a quick overview of the tour. Separate them with comma.
	        For example: steep, powder, fields
	    </div>
	</div>

</div>