<div class="container-fluid map-edit-view">
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group spacing-x-large">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-plus"></span> Add path
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" {{action "drawUpDownTrack" target="view" }}><span class="glyphicon glyphicon-sort"></span> Up/Down</a></li>
                        <li><a href="#" {{action "drawUpTrack" target="view" }}><span class="glyphicon glyphicon-arrow-up"></span> Up</a></li>
                        <li><a href="#" {{action "drawDownTrack" target="view" }}><span class="glyphicon glyphicon-arrow-down"></span> Down</a></li>
                    </ul>
                    <button class="btn btn-default" {{bind-attr disabled="view.hasSummitPointMarker" }} {{action "drawSummitPoint" target="view" }}>
                        <span class="glyphicon glyphicon-map-marker"></span> Summit point
                    </button>
                </div>

                <div class="btn-group spacing-x-large">
                    <button class="btn btn-default" data-toggle="modal" data-target="#editPathsModal" {{bind-attr disabled="view.isDeletePathsDisabled" }}>
                        <span class="glyphicon glyphicon-edit"></span> Edit paths
                    </button>
                    <button class="btn btn-default" data-toggle="modal" data-target="#confirmDeleteRoutesModal" {{bind-attr disabled="view.isDeletePathsDisabled" }}>
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>

                <div class="btn-group spacing-x-large">
                    <button class="btn btn-default" data-toggle="modal" data-target="#importGpxModal">
                        <span class="glyphicon glyphicon-import"></span> GPX
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="mapContainer">
        <div id="tourEditMapRootElement"></div>
    </div>

    <div class="mouse-position-container">
        <div>{{view.mousePositionLat}}</div>
        <div>{{view.mousePositionLng}}</div>
    </div>

    <div class="modal fade" id="confirmDeleteRoutesModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Delete paths</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the selected paths from the tour?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger pull-right" data-dismiss="modal" {{action "deleteRoutes" target="view" }}>Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editPathsModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit paths</h4>
                </div>
                <div class="modal-body">
                    <label for="inputAspect">Set type on selected path(s)</label>
                    {{view "select"
                        content=App.Fixtures.PathTypes
                        optionValuePath="content.value"
                        optionLabelPath="content.name"
                        valueBinding="view.draftPathType"
                        id="inputMapPathType"
                        class="form-control"}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary pull-right" data-dismiss="modal" {{action "updatePathsType" target="view" }}>Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="importGpxModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Import GPX file</h4>
                </div>
                <div class="modal-body">
                    {{#if view.gpxDataIsInvalid}}
                        <div class="alert alert-warning" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            GPX file seems to be invalid, couldn't complete import.
                        </div>
                    {{/if}}

                    {{#if view.gpxDataWasLoaded}}
                        <div class="alert alert-success" role="alert">
                            Map data was successfully imported.
                        </div>
                    {{else}}
                        {{#if view.loadingGpxData}}
                            <div class="alert alert-info" role="alert">
                                Loading map data from GPX file... This can take a few seconds and the page may lock during loading
                            </div>
                        {{else}}
                            <div class="alert alert-info" role="alert">
                                For performance reasons the tracks might be compressed (some points ignored). Only tracks will be imported. Waypoints and metadata in the GPX file are ignored.
                            </div>
                            {{view "gpxFileUpload"}}
                        {{/if}}
                    {{/if}}

                </div>
                <div class="modal-footer">
                    {{#unless view.loadingGpxData}}
                        {{#if view.gpxDataWasLoaded}}
                            <button class="btn btn-default pull-right" data-dismiss="modal" {{action "closeGpxImportModal" target="view" }}>Close</button>
                        {{else}}
                            <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                        {{/if}}
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>
</div>