<div class="container-fluid tour-edit-view">

    {{#if draftValidationErrors}}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                Couldn't save tour, name must be set.
            </div>
        </div>
    </div>
    {{/if}}

    {{#if isDraft}}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                This is a draft, the tour has not yet been published.
            </div>
        </div>
    </div>
    {{/if}}

    {{#if isDeleted}}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                Tour is marked as deleted and will eventually be permanently deleted from the databse.
            </div>
        </div>
    </div>
    {{/if}}

    <div class="row">
        <div class="col-sm-12">

            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#details-panel" role="tab" data-toggle="tab">Details</a></li>
                <li><a href="#itinerary-panel" role="tab" data-toggle="tab">Description</a></li>
                <li><a href="#map-panel" role="tab" data-toggle="tab">Map</a></li>
                <li><a href="#images-panel" role="tab" data-toggle="tab">Images</a></li>
                <li><a href="#history-panel" role="tab" data-toggle="tab">History</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="details-panel">
                    <form role="form">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="inputName">Name of tour<span class="asterisk required"></span></label>
                                    <button type="button"
                                            class="info pull-right" data-toggle="popover" data-trigger="focus" title="Name" data-content="The name of the tour. Name is required and must be between 3 and 80 characters long."></button>
                                    {{input placeholder="" pattern="^.{3,80}$" value=name id="inputName" class="form-control"}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="inputShortDescription">Tour summary<span class="asterisk recommended"></span></label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Tour summary"
                                            data-content="A brief description summarizing the highlights of the tour. Description can have a maximum of 500 characters."></button>
                                    {{input maxlength="500" value=shortDescription id="inputShortDescription" class="form-control"}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 descTextAreaContainer">
                                <div class="form-group">
                                    <label for="inputAccessPoint">Access point<span class="asterisk required"></span></label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Access point"
                                            data-content="Description of the access point and how to get there. The access point description can have a maximum of 1000 characters."></button>
                                    {{textarea value=accessPoint maxlength="1000" id="inputAccessPoint" class="form-control"}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="inputElevationLoss">Elevation loss<span class="asterisk required"></span></label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Elevation loss"
                                            data-content="Total elevation to descend. Only digits are allowed."></button>
                                    <div class="input-group">
                                        {{input placeholder="" pattern=numberRegex value=elevationLoss id="inputElevationLoss" class="form-control"}}
                                        <div class="input-group-addon">m</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for=inputElevationGain">Elevation gain<span class="asterisk required"></span></label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Elevation gain"
                                            data-content="Total elevation to climb. Only digits are allowed."></button>
                                    <div class="input-group">
                                        {{input placeholder="" pattern=numberRegex value=elevationGain id="inputElevationGain" class="form-control"}}
                                        <div class="input-group-addon">m</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="inputHighestPoint">Highest point<span class="asterisk recommended"></span></label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Highest point"
                                            data-content="The highest point of the tour. Only digits are allowed."></button>
                                    <div class="input-group">
                                        {{input placeholder="" pattern=numberRegex value=elevationMax id="inputHighestPoint" class="form-control"}}
                                        <div class="input-group-addon">m</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="inputAspect">Main aspect of slopes</span></label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Aspect"
                                            data-content="Aspect of the main part of the slopes on the descent route."></button>
                                    {{view "select"
                                        content=App.Fixtures.Aspects
                                        optionValuePath="content.value"
                                        optionLabelPath="content.name"
                                        valueBinding="aspect"
                                        id="inputAspect"
                                        class="form-control"}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="inputTimeMin">Time, min<span class="asterisk required"></span></label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Time min"
                                            data-content="The minimum amount of time that can be expected for the tour. Only digits are allowed."></button>
                                    <div class="input-group">
                                        {{input placeholder="" pattern=numberRegex value=timingMin id="inputTimeMin" class="form-control"}}
                                        <div class="input-group-addon">h</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="inputTimeMax">Time, max<span class="asterisk required"></span></label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Time max"
                                            data-content="The maximum amount of time that can be expected for the tour. Only digits are allowed."></button>
                                    <div class="input-group">
                                        {{input placeholder="" pattern=numberRegex value=timingMax id="inputTimeMax" class="form-control"}}
                                        <div class="input-group-addon">h</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="inputSeasonFrom">Season from<span class="asterisk required"></span></label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Season from"
                                            data-content="First month of the season when the tour normally is skiable."></button>
                                    {{view "select"
                                        content=App.Fixtures.Months
                                        optionValuePath="content.value"
                                        optionLabelPath="content.name"
                                        valueBinding="timeOfYearFrom"
                                        id="inputSeasonFrom"
                                        class="form-control"}}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="inputTimeOfYearTo">Season to<span class="asterisk required"></span></label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Season to"
                                            data-content="Last month of the season when the tour normally is skiable."></button>
                                    {{view "select"
                                        content=App.Fixtures.Months
                                        optionValuePath="content.value"
                                        optionLabelPath="content.name"
                                        valueBinding="timeOfYearTo"
                                        id="inputTimeOfYearTo"
                                        class="form-control"}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="inputGrade">Grade<span class="asterisk recommended"></span></label>
                                    <button class="info pull-right" data-toggle="modal" data-target="#tourDetailsGradeGuideModal"></button>
                                    {{view "select"
                                        content=App.Fixtures.Grades
                                        optionValuePath="content.value"
                                        optionLabelPath="content.name"
                                        valueBinding="grade"
                                        id="inputGrade"
                                        class="form-control"}}
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="inputSteepness">Steepness, max</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Steepness"
                                            data-content="Degrees on the steepest part of the route. Only digits are allowed."></button>
                                    <div class="input-group">
                                        {{input pattern=numberRegex value=degreesMax id="inputSteepness" class="form-control"}}
                                        <div class="input-group-addon">&#176;</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label {{bind-attr class="haveHazards:checked" }}>
                                            {{input type="checkbox" checkedBinding="haveHazards" class="hide"}}
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <span>Hazards</span>
                                        </label>
                                    </div>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Hazards"
                                            data-content="Description of any special hazards that skiers should be aware of. Description can have a maximum of 500 characters."></button>
                                    {{textarea value=hazardsDescription disabledBinding="haveNoHazards" maxlength="500" id="inputHazards" class="form-control"}}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label {{bind-attr class="requiresTools:checked" }}>
                                            {{input type="checkbox" checkedBinding="requiresTools" class="hide"}}
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <span>Mountaineering skills/equipment</span>
                                        </label>
                                    </div>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Skills/Equipment"
                                            data-content="Description of any mountaineering skills or equipment needed. Rappels, glacier safety equipment etc. Description can have a maximum of 500 characters."></button>
                                    {{textarea value=toolsDescription disabledBinding="doesNotRequireTools" maxlength="500" id="inputTools" class="form-control"}}
                                </div>
                            </div>
                        </div>

                        
                    </form>

                    <div class="row spacing-y-large">
                        <div class="col-sm-12 small">
                            <div class="form-group">
                                <span class="asterisk required"></span> Required field (tour cannot be published if not set) <br />
                                <span class="asterisk recommended"></span> Recommended field (tour will be marked as incomplete if not set)
                            </div>
                        </div>
                    </div>
                </div>

                <div id="itinerary-panel" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="inputDescription">Description<span class="asterisk required"></span></label>
                                <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                        title="Description"
                                        data-content="Description of the tour itinerary and anything else that could be useful. Description can have a maximum of 8000 characters."></button>
                                {{textarea value=itinerary maxlength="8000" id="inputDescription" class="form-control large"}}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="map-panel" class="tab-pane">
                    <div class="row">
                        {{view "tourEditMap"}}
                    </div>
                </div>

                <div id="images-panel" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="spacing">
                                {{#if isNew}}
                                <p>Images cannot be uploaded until tour is saved. Please save tour and then come back!</p>
                                {{else}}
                                {{partial "touredit-images" }}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="history-panel" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-12 spacing">
                            Tour status: <em>{{displayStatus}}</em>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Type</th>
                                            <th>User</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each action in sortedActions}}
                                        <tr>
                                        {{log action.comment}}
                                            <td>{{displayTimestamp action.time}}</td>
                                            <td>{{resolveTourAction action.type}}</td>
                                            <td>{{action.userName}}</td>
                                            <td>{{action.comment}}</td>
                                        </tr>
                                        {{/each}}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="tourDetailsGradeGuideModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg login-view">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Grades</h4>
                </div>
                <div class="modal-body">
                    {{partial "about-grades"}}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="discardChangesTourModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Unsaved changes</h4>
                </div>
                <div class="modal-body">
                    The tour has unsaved changes, do you want to discard them?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger pull-right" {{action "confirmDiscardChanges" target="view" }}>Discard changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmDeleteTourModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg areapicker-view">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Delete tour</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the tour?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger pull-right" {{action "confirmDeleteTour" target="view" }}>Delete tour</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="publishTourStep1Modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Publish tour (Step 1 of 2)</h4>
                </div>
                <div class="modal-body">
                    {{#if view.haveValidationErrors}}
                    <div class="alert alert-danger" role="alert">
                        Tour data is invalid or incomplete
                    </div>

                    <div>
                        <p>The tour lacks to much data to be published. Please add missing data and try again.</p>
                        <p class="secondary-text">
                            The following fields are missing or invalid:
                            {{#each error in validationErrors}}
                            <code>{{error}}</code>,
                            {{/each}}
                        </p>

                        <p class="secondary-text confirmation-message">
                            Required fields for publish are: Name, At least one Tag, Access point, Description, Time min/max and Elevation gain/loss
                        </p>
                    </div>
                    {{else}}
                    {{#if view.haveValidationWarnings }}
                    <div class="alert alert-warning" role="alert">
                        Tour data is valid but incomplete
                    </div>
                    <div>
                        <p>The tour lacks some important data. It can be published, but it'll be marked as incomplete.</p>

                        <p class="secondary-text confirmation-message">
                            The following fields are missing:
                            {{#each warning in validationWarnings}}
                            <code>{{warning}}</code>,
                            {{/each}}
                        </p>
                    </div>
                    {{else}}
                    <div class="alert alert-success" role="alert">
                        Tour data is valid
                    </div>
                    <p>Tour is ready to be published.</p>
                    {{/if}}
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary pull-right" {{bind-attr disabled="view.haveValidationErrors" }} {{action "continueToPublishStep2" target="view" }}>Continue</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="publishTourStep2Modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Publish tour (Step 2 of 2)</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="inputPublishComment">What did you change?</label>
                            {{textarea id="inputChangeComment" class="form-control" value=publishComment maxlength="500"}}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary pull-right" {{bind-attr disabled="view.isPublishDisabled" }} {{action "confirmPublishTour" target="view" }}><span class="glyphicon glyphicon-cloud-upload"></span> Publish</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editTourHelpModal" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Help</h4>
                </div>
                <div class="modal-body">
                    {{partial "about-collaboration"}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<nav class="edit-navbar" role="toolbar">
    <div class="container-fluid">

        <div class="navbar-header">
            <div class="btn-toolbar">
                <div class="btn-group pull-left">
                    <button class="btn btn-default" data-toggle="modal" data-target="#editTourHelpModal">
                        <span class="glyphicon glyphicon-question-sign"></span> Help
                    </button>
                </div>

                <div class="btn-group pull-right">
                    <button class="btn btn-default" {{action "startCancelingEditTour" target="view" }}>
                        <span class="glyphicon glyphicon-share"></span> Exit edit
                    </button>
                </div>

                <div class="btn-group pull-right">
                    <button class="btn btn-default" {{bind-attr disabled="isStartPublishDisabled" }} {{action "startPublishTour" target="view" }}>
                        <span class="glyphicon glyphicon-cloud-upload"></span> Publish
                    </button>
                </div>

                {{#unless isPublished}}
                    <div class="btn-group pull-right">
                        <button class="btn btn-default" {{bind-attr disabled="isSendToReviewDisabled" }} {{action "sendToReview" }}>
                            <span class="glyphicon glyphicon-user"></span> Send to review
                        </button>
                    </div>

                    {{#unless isInReview}}
                        <div class="btn-group pull-right">
                            <button class="btn btn-default" {{bind-attr disabled="isSaveAsDraftDisabled" }} {{action "saveAsDraft" }}>
                                <span class="glyphicon glyphicon-floppy-save"></span> Save as draft
                            </button>
                        </div>
                    {{/unless}}
                {{/unless}}

                <div class="saving-info-container pull-right">
                    {{#if hasChanges}}
                    {{#if havePendingOperations}}
                    <span class="spacing-x-large"><span class="glyphicon glyphicon-floppy-disk"></span><em> Saving...</em></span>
                    {{else}}
                    <span class="spacing-x-large"><span class="glyphicon glyphicon-floppy-disk"></span><em class="hidden-xs"> Tour has unsaved changes</em></span>
                    {{/if}}
                    {{/if}}
                </div>

            </div>
        </div>

    </div>
</nav>
