<div class="image-editor">

	<div class="row">
	    <div class="col-sm-12">
	        <h4>{{text "images_uploadNew"}}</h4>
	    </div>
	</div>
	
	<div class="row">
	    <div class="col-sm-12">
            {{#x-file-input accept="image/*" alt="Select image"}}
                <button class="btn btn-primary"><i class="fa fa-picture-o"></i> {{text "images_select"}}</button>
            {{/x-file-input}}
	    </div>
	</div>
	
	{{#if hasNewImage}}
	<div class="row">
	   <div class="col-sm-12">
	        <div class="panel">
	            <div class="row">
                    <hr />
	                <div class="col-sm-12 col-lg-2">
                        <div class="img-thumbnail">
                            <img src={{newImage.imageData}} />
                        </div>
	                </div>
	                <div class="col-sm-12 col-lg-10">
                        <form class="form">
                            <div class="form-group">
                                <label>Caption</label>
                                {{input value=newImage.caption maxlength="300" class="form-control"}}
                            </div>
                            <div class="form-group">
                                <div class="button-group pull-right">
                                    <button class="btn btn-default" {{action "removeNewImage"}} disabled={{havePendingOperations}}>{{text "common_cancel"}}</button>
                                    <button class="btn btn-primary" {{action "saveNewImage"}} disabled={{havePendingOperations}}>{{text "images_upload"}}</button>
                                </div>                   
                            </div>                         
                        </form>
	                </div>
	            </div>
	        </div>
	     </div>
	</div>
	{{/if}}
	
	<div class="row">
	    <div class="col-sm-12">
	        <hr />
	        <h4>{{text "images_currentTourImages"}}<span class="secondary-text"> ({{tour.images.length}})</span></h4>
	    </div>
	</div>
		
	<div class="row">
		<div class="col-sm-12">
		{{#each tour.images as |image|}}
		    {{#unless image.isNew}}
	            <div class="col-sm-12">
                    <hr />
	                <div class="row">
	                    <div class="col-sm-12 col-lg-2">
	                            <div class="thumbnail-wrapper">
	                            <img src={{image.imageFile}} class="img-thumbnail" />
	                        </div>
	                    </div>
	                    <div class="col-sm-12 col-lg-10">
	                        <form class="form">
	                            <div class="form-group">
		                            <label>Caption</label>
                                    {{input value=image.caption maxlength="300" class="form-control"}}
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label class={{if image.isPortfolio 'checked'}}>
                                            {{input type="checkbox" checked=image.isPortfolio class="hide"}}
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <span>{{text "images_isPortfolioImage"}}</span>
                                        </label>
                                    </div>
									<div class="button-group pull-right">
		                                <button {{action "saveImage" image}} disabled={{image.isUpdateDisabled}} class="btn btn-primary">{{text "common_update"}}</button>
		                                <button {{action "startDeleteImage" image }} data-toggle="modal" data-target="#confirmDeleteImageModal"
											 disabled={{image.isDeleteDisabled}} class="btn btn-danger">{{text "images_delete"}}</button>
		                            </div>
                                </div>                                            
                            </form>
	                    </div>
	                </div>
	            </div>
		    {{/unless}}
		{{/each}}
	    </div>         
	</div>
	
    <div class="modal fade" id="confirmDeleteImageModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">{{text "common_close"}}</span>
					</button>
                    <h4 class="modal-title">{{text "images_deleteDelete"}}</h4>
                </div>
                <div class="modal-body">
					{{text "images_deleteConfirmation"}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-left" data-dismiss="modal">{{text "common_cancel"}}</button>
                    <button class="btn btn-danger pull-right" data-dismiss="modal" {{action "confirmDeleteImage" }}>{{text "images_delete"}}</button>
                </div>
            </div>
        </div>
    </div>

</div>
