<div class="modal-dialog login">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">{{text "login_Login"}}</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
            <div class="text-left">
                {{text "login_modalText"}}
            </div>

            <a class="login-link" {{action "loginWithFacebook"}}>
                <div>
                    {{text "login_loginWith"}} <img src="/assets/images/facebook_logo.png">
                </div>
            </a>

            <a class="login-link" {{action "loginWithGoogle"}}>
                <div>
                    {{text "login_loginWith"}} <img src="/assets/images/google_logo.png" width="100">
                </div>
            </a>

        </div>

        <div class="modal-footer">
            <span>Randopedia doesn't use or store any sensitive information about the account being used. Read more about privacy {{#link-to "about"}}here{{/link-to}}.</span> <!-- todo: link should dismiss modal -->
        </div>
    </div>
</div>
