<div class="map-editor">
    <div class="row">
        <div class="col col-xs-12">
            <div class="btn-toolbar spacer-y-bottom" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-plus"></i> {{text "map_addPath"}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" {{action "drawUpDownTrack"}}> <i class="fa fa-minus default-path"></i> {{text "map_upDown"}}</a></li>
                        <li><a href="#" {{action "drawUpTrack"}}><i class="fa fa-minus up-path"></i> {{text "map_up"}}</a></li>
                        <li><a href="#" {{action "drawDownTrack"}}><i class="fa fa-minus down-path"></i> {{text "map_down"}}</a></li>
                    </ul>
                    <button class="btn btn-secondary" disabled={{hasSummitPointMarker}} {{action "drawSummitPoint"}}>
                        <i class="fa fa-map-marker"></i> {{text "map_summitPoint"}}
                    </button>
                </div>

                <div class="btn-group">
                    <button class="btn btn-secondary" data-toggle="modal" data-target="#editPathsModal" disabled={{isDeletePathsDisabled}}>
                        <i class="fa fa-pencil-square-o"></i> {{text "map_editPaths"}}
                    </button>
                    <button class="btn btn-secondary" data-toggle="modal" data-target="#confirmDeleteRoutesModal" disabled={{isDeletePathsDisabled}}>
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-secondary" data-toggle="modal" data-target="#importGpxModal">
                        <i class="fa fa-pencil-square-o"></i>&nbsp;GPX
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="mapContainer">
        <div id="tourEditMapRootElement"></div>
    </div>

    <div class="right">
        <span>{{mousePositionLat}}</span>, <span>{{mousePositionLng}}</span>
    </div>

    <div class="modal fade" id="confirmDeleteRoutesModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{text 'map_deletePath'}}</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the selected paths from the tour?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary pull-right" data-dismiss="modal">{{text 'common_cancel'}}</button>
                    <button class="btn btn-danger pull-right" data-dismiss="modal" {{action "deleteRoutes"  }}>{{text 'common_delete'}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editPathsModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{text 'map_editPaths'}}</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <label for="inputAspect">Set type on selected path(s)</label>
                        {{#x-select value=draftPathType action="selectPathType" as |xs|}}
                            {{#each pathTypes as |pathType|}}
                                {{#xs.option value=pathType.value}} {{pathType.name}} {{/xs.option}}
                            {{/each}}
                        {{/x-select}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary pull-right" data-dismiss="modal">{{text 'common_cancel'}}</button>
                    <button class="btn btn-primary pull-right" data-dismiss="modal" {{action "updatePathsType"  }}>{{text 'common_update'}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="importGpxModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Import GPX file</h4>
                </div>
                <div class="modal-body">
                    {{#if gpxDataIsInvalid}}
                        <div class="alert alert-warning" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            GPX file seems to be invalid, couldn't complete import.
                        </div>
                    {{/if}}
                    {{#if gpxDataWasLoaded}}
                        <div class="alert alert-success" role="alert">
                            Map data was successfully imported.
                        </div>
                    {{else}}
                        {{#if loadingGpxData}}
                            <div class="alert alert-info" role="alert">
                                Loading map data from GPX file... This can take a few seconds and the page may lock during loading
                            </div>
                        {{else}}
                            <div class="alert alert-info" role="alert">
                                For performance reasons the tracks might be compressed (some points ignored). Only tracks will be imported. Waypoints and metadata in the GPX file are ignored.
                            </div>
                            <div class="btn-group">
                                <label class="btn btn-secondary btn-file">
                                    Select GPX file to import <input type="file" id="gpxFileInputElement" accept=".gpx" hidden>
                                </label>
                            </div>
                        {{/if}}
                    {{/if}}

                </div>
               <div class="modal-footer">
                 {{#unless loadingGpxData}}
                      {{#if gpxDataWasLoaded}}
                          <button class="btn btn-default pull-right" data-dismiss="modal" {{action "closeGpxImportModal" target="view" }}>Close</button>
                      {{else}}
                          <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                      {{/if}}
                  {{/unless}}
               </div>
           </div>
       </div>
     </div>

</div>
