<nav class="navbar navbar-dark bg-inverse">
    
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
    </button>

    <a class="navbar-brand" {{action "topbarmenulink" "index" }}>Randopedia</a>

    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">

        <ul class="nav navbar-nav">
            <li class="nav-item"><a {{action "topbarmenulink" "index" }} class="hvr-underline-from-center">{{text "header_map"}}</a></li>
            <li class="nav-item"><a {{action "topbarmenulink" "dashboard" }} class="hvr-underline-from-center" data-toggle="collapse" data-target=".nav-collapse">{{text "header_dashboard"}}</a></li>
            <li class="nav-item"><a {{action "topbarmenulink" "about" }} class="hvr-underline-from-center" data-toggle="collapse" data-target=".nav-collapse">{{text "header_about"}}</a></li>

            <li class="nav-item"><a {{action "topbarmenulink" "collapseNavbar" }} class="hvr-underline-from-center" data-toggle="modal" data-target="#loginViewModalId">{{text "header_login"}}</a></li>

            <li class="hidden-xs">
                <div class="fb-like" data-href="https://www.facebook.com/randopedia.net" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
            </li>

            <li class="hidden-xs">
                <a class="navbar-search-button pull-right hvr-fade" {{action "toggleNavbarSearchbox" }} {{bind-attr class="showNavbarSearch:pressed" }}>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </li>
        </ul> 
    </div>

</nav>

<div class="modal fade" id="loginViewModalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{login-form}}
</div>
