<div class="top-bar">
    <div class="bg-panel">
        <a class="logo" {{action "topbarmenulink" "index" }}>Randopedia</a>
        
        <a class="menu-button" {{action "toggleNavbarMenu" }} >
            <i class="fa fa-bars {{if showNavbarMenu 'selected'}}"></i>
        </a>

        <a class="menu-button" {{action "toggleNavbarSearchbox" }} >
            <i class="fa fa-search {{if showNavbarSearch 'selected'}}"></i>
        </a>

    {{#if showNavbarMenu}}
        <div class="menu">
            <div class="row">
                <div class="col-xs-6">
                    <a {{action "topbarmenulink" "index" }}>{{text "header_map"}}</a>

                    <a {{action "topbarmenulink" "dashboard" }}>{{text "header_dashboard"}}</a>

                    <a {{action "topbarmenulink" "about" }}>{{text "header_about"}}</a>       

                    {{#unless login.isLoggedIn}}
                    <a {{action "topbarmenulink" "collapseNavbar" }} data-toggle="modal" data-target="#loginViewModalId">{{text "header_addNewTour"}}</a>
                    {{/unless}}    
                </div>

                <div class="col-xs-6">
                    <h4>{{text "header_language"}}</h4>
                    {{#if language.isNorwegian}}
                    <a {{action "setlanguage"}}><i class="fa fa-square-o"></i> English</a>
                    <span><i class="fa fa-check-square-o"></i> Norsk</span>
                    {{else}}
                    <span><i class="fa fa-check-square-o"></i> English</span>
                    <a {{action "setlanguage" "no"}}><i class="fa fa-square-o"></i> Norsk</a>
                    {{/if}}

                </div>                
            </div>

            <div class="row">
                <div class="col-xs-12 text-center"> 
                    {{#if login.isLoggedIn}}
                    <div class="login-menu-container">
                        <hr />
                        <h4><i class="fa fa-user"></i> {{maxString login.currentUser.userName 50}}</h4>
                        <hr />
                        <a {{action "topbarmenulink" "tour.new" }}>{{text "header_addNewTour"}}</a>
                        <a {{action "topbarmenulink" "mytours" }}>{{text "header_myTours"}}</a>
                        <hr />
                        <a {{action "logout" }}>{{text "header_logout"}}</a>
                    </div>
                    {{else}}
                    <a {{action "topbarmenulink" "collapseNavbar" }} class="center" data-toggle="modal" data-target="#loginViewModalId">{{text "header_login"}}</a>   
                    {{/if}}
                </div>
            </div>
        </div>
    {{/if}}

    {{#if showNavbarSearch}}
        {{tour-search}}
    {{/if}}    

    </div>

</div>

<div class="modal fade" id="loginViewModalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {{login-form}}
</div>
