<div class="tour-item">  
    <div class="item-panel">
        <h5> {{#link-to "tour" tour.id}} {{tour.name}} {{/link-to}}</h5>
        <div class="item-props">    
            {{resolveSelectName 'Grades' tour.grade}} | 
            {{tour.timingMin}}-{{tour.timingMax}}h | 
            {{tour.elevationGain}}m &uarr; {{tour.elevationLoss}}m &darr;
        </div>
        <div>
            {{tour.shortDescription}}
        </div>
    </div>
</div>