<div class="tour-edit">

    {{#if draftValidationErrors}}
    <div class="row">
        <div class="col">
            <div class="alert alert-danger text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {{text "tourEdit_nameNotSetOnSave"}}
            </div>
        </div>
    </div>
    {{/if}}

    {{#if isDraft}}
    <div class="row">
        <div class="col">
            <div class="alert alert-warning alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {{text "tour_tourIsDraft"}}
            </div>
        </div>
    </div>
    {{/if}}

    <div class="row">
        <div class="col">
            <div class="alert alert-info text-center" role="alert">
            {{#if hasChanges}}
                {{#if havePendingOperations}}
                <i class="fa fa-floppy-o"></i><em> {{text "tourEdit_saving"}}...</em>
                {{else}}
                <i class="fa fa-floppy-o"></i><em> {{text "tourEdit_unsavedChanges"}}</em>
                {{/if}}
            {{else}}
                <span> {{text "tourEdit_noChanges"}}</span>
            {{/if}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#details-panel" role="tab" data-toggle="pill">{{text "tourEdit_details"}}</a></li>
                <li class="nav-item"><a class="nav-link" href="#map-panel" role="tab" data-toggle="pill">{{text "tourEdit_map"}}</a></li>
                <li class="nav-item"><a class="nav-link" href="#images-panel" role="tab" data-toggle="pill">{{text "tour_images"}}</a></li>
                <li class="nav-item right"><a class="nav-link" href="#history-panel" role="tab" data-toggle="pill">{{text "tourEdit_history"}}</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="details-panel">
                    <form role="form">

                        <div class="row">
                            <div class="col-12 col-md-8">
                                <div class="form-group">
                                    <label for="inputName">{{text "tourEdit_nameOfTour"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-placement="right" data-trigger="focus" title="Name" data-content="The name of the tour. Name is required and must be between 3 and 80 characters long."></button>
                                    <div class="{{unless nameIsValid 'validation-error'}}">
                                        {{input placeholder="" pattern="^.{3,80}$" value=tour.name id="inputName" class="form-control"}}
                                    </div>
                                </div> 
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="inputCountry">{{text "tourEdit_country"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Country"
                                            data-content="The country where the tour is located."></button>
                                    {{#x-select value=tour.country action="selectCountry" as |xs|}}
                                        {{#each countries as |country|}}
                                            {{#xs.option value=country.value}} {{country.name}} {{/xs.option}}
                                        {{/each}}
                                    {{/x-select}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-xs-12">
                                <div class="form-group">
                                    <label for="inputAccessPoint">{{text "tour_accessPoint"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Access point"
                                            data-content="Description of the access point and how to get there. The access point description can have a maximum of 1000 characters."></button>
                                            <div class="{{unless accessPointIsValid 'validation-error'}}">
                                                {{textarea value=tour.accessPoint maxlength="1000" id="inputAccessPoint" class="form-control" }}
                                            </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-xs-12">
                                <div class="form-group">
                                    <label for="inputDescription">{{text "tour_description"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Description"
                                            data-content="Description of the tour itinerary and anything else that could be useful. Description can have a maximum of 10000 characters."></button>
                                            <div class="{{unless descriptionIsValid 'validation-error'}}">
                                                {{textarea value=tour.itinerary maxlength="10000" id="inputDescription" rows="8" class="form-control"}}
                                            </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="tagsEditorId">{{text "tour_tags"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Tags"
                                            data-content="Add tags describing the location and characteristics of the tour, i.e. 'chamonix', 'couloir' etc."></button>
                                            <div class="{{unless tagsAreValid 'validation-error'}}">
                                                {{tag-editor tags=allTags selectedTags=tour.tags action="tagsUpdated"}}
                                            </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label for="inputElevationLoss">{{text "tourEdit_elevationLoss"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Elevation loss"
                                            data-content="Total elevation to descend. Meters."></button>
                                    <div class="input-group {{unless elevationLossIsValid 'validation-error'}}">
                                        {{input pattern=numberRegex value=tour.elevationLoss id="inputElevationLoss" class="form-control"}}
                                        <div class="input-group-addon">m</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label for="inputElevationGain">{{text "tourEdit_elevationGain"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Elevation gain"
                                            data-content="Total elevation to climb. Meters."></button>
                                    <div class="input-group {{unless elevationGainIsValid 'validation-error'}}">
                                        {{input pattern=numberRegex value=tour.elevationGain id="inputElevationGain" class="form-control"}}
                                        <div class="input-group-addon">m</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label for="inputHighestPoint">{{text "tourEdit_highestPoint"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Highest point"
                                            data-content="The highest point of the tour. Meters."></button>
                                    <div class="input-group {{unless elevationMaxIsValid 'validation-error'}}">
                                        {{input placeholder="" pattern=numberRegex value=tour.elevationMax id="inputHighestPoint" class="form-control"}}
                                        <div class="input-group-addon">m</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label for="inputAspect">{{text "tourEdit_mainAspect"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Aspect"
                                            data-content="Aspect of the main part of the slopes on the descent route."></button>
                                        {{#x-select value=tour.aspect action="selectAspect" as |xs|}}
                                            {{#each aspects as |aspect|}}
                                                {{#xs.option value=aspect.value}} {{aspect.name}} {{/xs.option}}
                                            {{/each}}
                                        {{/x-select}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label for="inputTimeMin">{{text "tourEdit_timeMin"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Time min"
                                            data-content="The minimum amount of time that can be expected for the tour. Hours."></button>
                                    <div class="input-group {{unless timingMinIsValid 'validation-error'}}">
                                        {{input placeholder="" pattern=numberRegex value=tour.timingMin id="inputTimeMin" class="form-control"}}
                                        <div class="input-group-addon">h</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label for="inputTimeMax">{{text "tourEdit_timeMax"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Time max"
                                            data-content="The maximum amount of time that can be expected for the tour. Hours."></button>
                                    <div class="input-group {{unless timingMaxIsValid 'validation-error'}}">
                                        {{input placeholder="" pattern=numberRegex value=tour.timingMax id="inputTimeMax" class="form-control"}}
                                        <div class="input-group-addon">h</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label for="inputSeasonFrom">{{text "tourEdit_seasonFrom"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Season from"
                                            data-content="First month of the season when the tour normally is skiable."></button>
                                        {{#x-select value=tour.timeOfYearFrom action="selectTimeOfYearFrom" as |xs|}}
                                            {{#each months as |month|}}
                                                {{#xs.option value=month.value}} {{month.name}} {{/xs.option}}
                                            {{/each}}
                                        {{/x-select}}
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label for="inputTimeOfYearTo">{{text "tourEdit_seasonTo"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Season to"
                                            data-content="Last month of the season when the tour normally is skiable."></button>
                                        {{#x-select value=tour.timeOfYearTo action="selectTimeOfYearTo" as |xs|}}
                                            {{#each months as |month|}}
                                                {{#xs.option value=month.value}} {{month.name}} {{/xs.option}}
                                            {{/each}}
                                        {{/x-select}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label for="inputGrade">{{text "tour_grade"}}</label>
                                    <a class="info pull-right" data-toggle="modal" data-target="#tourDetailsGradeGuideModal"></a>
                                    {{#x-select value=tour.grade action="selectGrade" as |xs|}}
                                        {{#each grades as |grade|}}
                                            {{#xs.option value=grade.value}} {{grade.name}} {{/xs.option}}
                                        {{/each}}
                                    {{/x-select}}
                                </div>
                            </div>

                            <div class="col-12 col-md-3">
                                <div class="form-group">
                                    <label for="inputSteepness">{{text "tourEdit_steepnessMax"}}</label>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Steepness"
                                            data-content="Degrees on the steepest part of the route. Degrees, 0-90."></button>
                                    <div class="input-group {{unless degreesMaxIsValid 'validation-error'}}">
                                        {{input pattern=numberRegex value=tour.degreesMax id="inputSteepness" class="form-control"}}
                                        <div class="input-group-addon">&#176;</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span class="checkbox">
                                        <label class={{if tour.haveHazards 'checked'}}>
                                            {{input type="checkbox" checkedBinding="tour.haveHazards" class="hide"}}
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <span>{{text "tour_hazards"}}</span>
                                        </label>
                                    </span>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Hazards"
                                            data-content="Description of any special hazards that skiers should be aware of. Description can have a maximum of 500 characters."></button>
                                    {{textarea value=tour.hazardsDescription disabledBinding="haveNoHazards" maxlength="500" id="inputHazards" class="form-control"}}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <span class="checkbox">
                                        <label class={{if tour.requiresTools 'checked'}}>
                                            {{input type="checkbox" checkedBinding="tour.requiresTools" class="hide"}}
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <span>{{text "tourEdit_mountaineering"}}</span>
                                        </label>
                                    </span>
                                    <button type="button" class="info pull-right" data-toggle="popover" data-trigger="focus"
                                            title="Skills/Equipment"
                                            data-content="Description of any mountaineering skills or equipment needed. Rappels, glacier safety equipment etc. Description can have a maximum of 500 characters."></button>
                                    {{textarea value=tour.toolsDescription disabledBinding="doesNotRequireTools" maxlength="500" id="inputTools" class="form-control"}}
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

                <div id="map-panel" class="tab-pane">
                    <div class="row">
                        <div class="col-12">
                            {{map-editor tour=tour}}
                        </div>
                    </div>
                </div>

                <div id="images-panel" class="tab-pane">
                    <div class="row">
                        <div class="col-12">
                            <div class="spacing">
                                {{#if isNew}}
                                <p>{{text "tourEdit_imagesUploadNotPossibleTOurNotSaved"}}</p>
                                {{else}}
                                {{image-editor tour=tour}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="history-panel" class="tab-pane">
                    <div class="row">
                        <div class="col-12 spacing">
                            Tour status: <em>{{displayStatus}}</em>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Type</th>
                                            <th>User</th>
                                            <th>Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each sortedActions as |action|}}
                                        <tr>
                                            <td>{{displayDateTime action.time}}</td>
                                            <td>{{resolveSelectName 'TourActions' action.type}}</td>
                                            <td>{{action.userName}}</td>
                                            <td>{{action.comment}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="edit-toolbar" role="toolbar">
        <div class="row">
            <div class="col">
                <div class="btn-toolbar">
                    <button class="btn btn-secondary" data-toggle="modal" data-target="#editTourHelpModal">
                        <i class="fa fa-question"></i> {{text "header_help"}}
                    </button>

                    <button class="btn btn-primary" disabled={{isStartPublishDisabled}} {{action "startPublishTour" }}>
                        <i class="fa fa-cloud-upload"></i> {{text "tourEdit_publish"}}
                    </button>
                        
                    {{#unless isPublished}}
                        <button class="btn btn-secondary" disabled={{isSendToReviewDisabled}} {{action "sendToReview" }}>
                            <i class="fa fa-eye"></i> {{#if isInReview}} {{text "common_save"}} {{else}} {{text "tourEdit_sendToReview"}} {{/if}}
                        </button>

                        {{#unless isInReview}}
                        <button class="btn btn-secondary" disabled={{isSaveAsDraftDisabled}} {{action "saveAsDraft" }}>
                            <i class="fa fa-floppy-o"></i>{{#if isDraft}} {{text "common_save"}} {{else}} {{text "tourEdit_saveAsDraft"}} {{/if}}
                        </button>
                        {{/unless}}

                    {{/unless}}

                    <button class="btn btn-secondary spacer-x-left" {{action "startCancelingEditTour" }}>
                        <i class="fa fa-times"></i> {{text "tourEdit_exit"}}
                    </button>
                </div>  
            </div>
        </div>
    </div>

    <div class="modal fade" id="tourDetailsGradeGuideModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg login-view">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{text "grades_header"}}</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    {{partial "partials/about-grades"}}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="discardChangesTourModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>{{text "tourEdit_unsavedChangesHeader"}}</h4>
                </div>
                <div class="modal-body">
                    {{text "tourEdit_unsavedChangesDiscard"}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">{{text "common_cancel"}}</button>
                    <button class="btn btn-danger pull-right" {{action "confirmDiscardChanges" }}>{{text "tourEdit_DiscardChanges"}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="publishTourStep1Modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{text "tourEdit_publishStep1Title"}}</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    {{#if haveValidationErrors}}
                    <div class="alert alert-danger" role="alert">
                        Tour data is invalid or incomplete
                    </div>

                    <div>
                        <p>The tour are missing some required data and cannot be published.</p>
                        <p>{{text "tourEdit_requiredFieldInfo"}}</p>
                    </div>
                    {{else}}
                    <div class="alert alert-success" role="alert">
                        {{text "tourEdit_tourDataIsValid"}}
                    </div>
                    <p>{{text "tourEdit_tourIsReadyToPublish"}}</p>
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">{{text "common_cancel"}}</button>
                    <button class="btn btn-primary pull-right" disabled={{haveValidationErrors}} {{action "continueToPublishStep2"}}>{{text "common_continue"}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="publishTourStep2Modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{text "tourEdit_publishStep2Title"}}</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="inputPublishComment">{{text "tourEdit_whatDidYouChange"}}</label>
                            {{textarea id="inputChangeComment" class="form-control" value=tour.publishComment maxlength="500"}}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">{{text "common_cancel"}}</button>
                    <button class="btn btn-primary pull-right" disabled={{isPublishDisabled}} {{action "confirmPublishTour" }}><span class="glyphicon glyphicon-cloud-upload"></span> {{text "common_publish"}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editTourHelpModal" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{text "header_help"}}</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    {{about-collaboration}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default pull-right" data-dismiss="modal">{{text 'common_close'}}</button>
                </div>
            </div>
        </div>
    </div>

</div>
