<div class="container">
    {{tag-cloud tags=tags}}
    <div class="card">
        <h3 class="card-header">
            {{text "header_statistics"}}
        </h3>
        <div class="card-block">
            {{text "dashboard_funfact1"}} <strong>{{stats.publishedTours}}</strong> {{text "dashboard_funfact2"}} 
            <strong>{{stats.totalGain}}</strong> {{text "dashboard_funfact3"}} <strong>{{stats.totalLoss}}</strong> {{text "dashboard_funfact4"}}
            <p>
                <strong>47</strong> {{text "dashboard_funfact5"}}
            </p>
        </div>
    </div>
    
    <div class="card spacer-y">
        <h3 class="card-header">
            {{text "dashboard_lastUpdatedTours"}}
        </h3>
        <div class="card-block">
            {{last-updated tours=tours}}
        </div>
    </div>

    {{#if login.isLoggedIn}}
    <div class="card spacer-y">
        <h3 class="card-header">
            {{text "header_toursInReview"}}
        </h3>
        <div class="card-block">
            {{tours-in-review}}
        </div>
    </div>
    {{/if}}

</div>
