<div class="container">
    <h1>Dashboard</h1>
    {{tag-cloud tags=tags}}
    <div class="card">
        <h3 class="card-header">
            {{text "header_statistics"}}
        </h3>
        <div class="card-block">
            Published tours: <strong>{{stats.publishedTours}}</strong>
            Total gain: <strong>{{stats.totalGain}}</strong>
            Total loss: <strong>{{stats.totalLoss}}</strong>
        </div>
    </div>
    <div class="spacer-y"></div>
    <div class="card">
        <h3 class="card-header">
            {{text "dashboard_lastUpdatedTours"}}
        </h3>
        <div class="card-block">
            {{last-updated tours=tours}}
        </div>
    </div>

    {{#if isLoggedIn}}
    <div class="card">
        <h3 class="card-header">
            {{text "header_toursInReview"}}
        </h3>
        <div class="card-block">
            {{tours-in-review}}
        </div>
    </div>
    {{/if}}

</div>
