<div class="container">
    <div class="row">
        <div class="col col-xs-12">
            <h1>
                #{{model.name}} <span class="small lowercase">({{model.tours.length}} {{text "header_tours"}})</span>
            </h1>
        </div>
    </div>

    {{#if content.isUpdating}}
        <div class="loading"></div>
    {{/if}}

    {{#each model.tours as |tour|}}
        {{tour-item tour=tour}}
    {{else}}
        <div class="alert alert-info" role="alert">
            No tours were found for <em>{{model.name}}</em>. If the tag was just added to a tour, it may take some time before the tour appears here.
        </div>
    {{/each}}

</div>
